.navlist {
  float: left;
  width: 20%;
  height:100%;
}

.navlist ul {
  list-style: none;
}

.friend-list  h1 {
  text-align: center;
}

#content {
    margin-left: auto;
    width: 80%;
    min-height: 800px;
}
