<ul class="nav nav-list well">
  <li class="nav-header">RSS Feed</li>
  <li>
    #{list items:_user.feeds, as:'feed'}
      <a href="${feed.getChannelLink()}">
        <img src=${feed.getImageNode().ccontent('url')}
             width=${feed.getImageNode().ccontent('width')}
             height=${feed.getImageNode().ccontent('height')}></img>
        ${feed.getTitle()}
      </a>
      <ul>
        #{list items:feed.getItems(4), as:'fitem'}
          <a href=${fitem.ccontent('link')}>${fitem.ccontent('title')}</a>
        #{/list}
      </ul>
    #{/list}
    #{form action:@RSSFeeds.addFeed(), method:'POST', style:'display:inline'}
      <input type='text' name='url'> </input>
      <input type='submit' value='Add Feed URL' class="btn"></input>
    #{/form}
  </li>

  <li class="nav-header">Upcoming Events</li>
  <li>
    <a href="/events/upcoming">Upcoming Events</a>
  </li>

  <li class="nav-header">etc</li>
  <li>
    <a href="#">Extra Stuff</a>
  </li>

  <li class="nav-header">Birthdays</li>
  #{list items:_user.birthdaysToday(5), as:'u'}
    <li>u</li>
  #{/list}
</ul>
